//Color Variables
$color-primary-1: #aad576;
$color-primary-2: #73a942;
$color-primary-3: #538d22;
$color-primary-4: #245501;
$color-primary-5: #1a4301;
$color-primary-6: #143601;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: black;

$color-red: #DB0F2B;
$color-blue: #4ABEFB;

//FONT SIZES
$default-font-size: 1.6rem;

//Box Shdaow 
$box-shadow-main: 0 1.5rem 4rem rgba($color-black, .2);

//Border Radius 
$border-radius-default: 3px;



