/*
0 - 600px: Phone
600 - 900px: Tablet
900 - 1200px: Desktop
1800px + : Big Desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* border and padding no longer added to total width and total height */
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
  /* Want 62.5% of the default root font (16px) to have rems in increments of 10px; 1 rem = 16px */
}

/* Animations */
body {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading {
  font-family: 'Lato', sans-serif;
}

.main-nav {
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 75em) {
  .main-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-nav__logo img {
  height: 12rem;
  width: 12rem;
}

.main-menu-links {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  position: fixed;
  top: 0;
  right: -101vw;
  /* remove menu from view */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
  -webkit-transition: all 650ms ease-in-out;
  transition: all 650ms ease-in-out;
}

@media only screen and (min-width: 56.25em) {
  .main-menu-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: initial;
    height: initial;
    background-color: initial;
    position: initial;
    top: initial;
    right: initial;
    -webkit-transition: initial;
    transition: initial;
  }
}

.main-menu-links.active {
  right: 0;
}

.fav-icons {
  font-size: 4rem;
  cursor: pointer;
}

#close-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

@media only screen and (min-width: 56.25em) {
  #close-icon {
    display: none;
  }
}

@media only screen and (min-width: 56.25em) {
  #open-icon {
    display: none;
  }
}

.main-nav__menu-buttons {
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
}

@media only screen and (min-width: 56.25em) {
  .main-nav__menu-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-nav__menu-button {
  width: 100%;
  display: block;
  margin: 2rem 0;
  outline: none;
  padding: 1.5rem;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
  text-transform: uppercase;
}

@media only screen and (min-width: 56.25em) {
  .main-nav__menu-button {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }
}

#sign-up {
  background-color: #fff;
  color: #538d22;
  border: 2px solid #538d22;
}

@media only screen and (min-width: 56.25em) {
  #space {
    margin-right: 3rem;
  }
}

#sign-in {
  background-color: #538d22;
  color: #fff;
  border: 2px solid transparent;
}

.hero-section {
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (min-width: 75em) {
  .hero-section {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 12rem;
  }
}

@media only screen and (min-width: 112.5em) {
  .hero-section {
    margin-top: 16rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero-info {
  text-align: center;
  margin-top: 8rem;
}

@media only screen and (min-width: 75em) {
  .hero-info {
    margin-top: 0;
    text-align: left;
  }
}

.hero-info__header {
  color: #143601;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

@media only screen and (min-width: 56.25em) {
  .hero-info__header {
    width: 60%;
    margin: 3rem auto;
    font-size: 4rem;
    letter-spacing: 2px;
  }
}

@media only screen and (min-width: 75em) {
  .hero-info__header {
    width: 80%;
    font-size: 4.5rem;
    margin: 2rem 0;
  }
}

.hero-info__description {
  color: #1a4301;
  font-size: 1.4rem;
  line-height: 3rem;
  margin: 3rem 0;
}

@media only screen and (min-width: 56.25em) {
  .hero-info__description {
    font-size: 1.6rem;
    width: 80%;
    margin: 3rem auto;
  }
}

@media only screen and (min-width: 75em) {
  .hero-info__description {
    font-size: 1.7rem;
    width: 100%;
  }
}

.hero-info__button {
  padding: 1.5rem 2.5rem;
  font-size: 1.75rem;
  background-color: #538d22;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  border-radius: 5px;
  border: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.hero-info__button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 56.25em) {
  .hero-info__button {
    margin-bottom: 5rem;
  }
}

.title-emphasis {
  color: #538d22;
}

.hero-image img {
  width: 100%;
  height: 40rem;
}

.form-container {
  width: 100%;
  margin-top: 7rem;
  font-family: 'Lato', sans-serif;
}

.form-container img {
  width: 100%;
  height: 17rem;
}

.form-container__header {
  font-size: 3rem;
  margin: 2rem 0;
  text-align: center;
  color: #143601;
}

.signup-form {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.signup-form label {
  display: block;
  padding: 1rem 0;
  font-size: 1.3rem;
}

.signup-form input, .signup-form textarea {
  display: block;
  width: 100%;
  padding: 1rem 0;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#sendBtn {
  border: 0;
  border-radius: 5px;
  background-color: #538d22;
  color: #fff;
  padding: 1rem 1.5rem;
  margin: 3rem 0;
  width: auto;
  cursor: pointer;
  text-transform: uppercase;
}

#notes {
  height: 10rem;
  resize: vertical;
}

.form-container {
  width: 100%;
  margin-top: 7rem;
  font-family: 'Lato', sans-serif;
}

.form-container img {
  width: 100%;
  height: 17rem;
}

.form-container__header {
  font-size: 3rem;
  margin: 2rem;
  text-align: center;
  color: #143601;
}

.signin-form {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.signin-form label {
  display: block;
  padding: 1rem 0;
  font-size: 1.3rem;
}

.signin-form input, .signin-form textarea {
  display: block;
  width: 100%;
  padding: 1rem 0;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#sendBtn {
  border: 0;
  border-radius: 5px;
  background-color: #538d22;
  color: #fff;
  padding: 1rem 1.5rem;
  margin: 3rem 0;
  width: auto;
  cursor: pointer;
  text-transform: uppercase;
}

.note-details {
  margin-top: 2rem;
}

.note-details h3 {
  font-size: 1.5rem;
}

@media only screen and (min-width: 75em) {
  .note-details h3 {
    font-size: 2rem;
  }
}

.note-details h3:not(:last-child) {
  padding-bottom: 2rem;
}

.note-details__about span {
  font-size: 1.3rem;
  font-weight: 400;
}

@media only screen and (min-width: 75em) {
  .note-details__about span {
    font-size: 1.5rem;
  }
}

.note-details__link--blue {
  color: #4ABEFB;
  font-size: 1.3rem;
  -webkit-transition: .2s;
  transition: .2s;
  border-bottom: 2px solid transparent;
}

.note-details__link--blue:hover {
  border-bottom: 2px solid #4ABEFB;
}

@media only screen and (min-width: 75em) {
  .note-details__link--blue {
    font-size: 1.5rem;
  }
}

.note-details__description {
  font-size: 1.25rem;
  padding-bottom: 4rem;
}

@media only screen and (min-width: 75em) {
  .note-details__description {
    font-size: 1.5rem;
  }
}

.note-details__buttons {
  text-align: center;
}

.note-details__buttons button {
  font-size: 1.5rem;
  padding: 7px 15px;
  text-transform: uppercase;
  margin: 0 1rem;
  cursor: pointer;
}

.edit {
  color: #538d22;
  border: 2px solid #538d22;
  background-color: #fff;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.edit:hover {
  color: #fff;
  background-color: #538d22;
}

.delete {
  color: #DB0F2B;
  border: 2px solid #DB0F2B;
  background-color: #fff;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.delete:hover {
  color: #fff;
  background-color: #DB0F2B;
}

.notes-index-container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 6rem;
  padding: 0 3rem;
}

.notes-index-heading {
  padding-bottom: 1rem;
  border-bottom: 4px solid #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notes-index-heading h1 {
  font-size: 2.5rem;
}

.notes-index-heading__new-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notes-index-heading__new-note .fav-icons {
  font-size: 3rem;
  color: #1a4301;
  margin-left: 1rem;
}

.notes-index-container__all-notes {
  margin-top: 3rem;
}

.notes-index-container__note {
  border-left: 5px solid #538d22;
  padding-left: 10px;
  margin-bottom: 4rem;
}

.notes-index-container__note-title {
  font-size: 2.5rem;
}

.notes-index-container__note-date {
  font-size: 1.2rem;
  color: #143601;
  font-weight: 600;
  padding: 5px 0;
}

@media only screen and (min-width: 75em) {
  .notes-index-container__note-date {
    font-size: 1.4rem;
  }
}

.notes-index-container__note-description {
  font-size: 1.4rem;
}

@media only screen and (min-width: 75em) {
  .notes-index-container__note-description {
    font-size: 1.6rem;
  }
}

.form-container-newNote {
  width: 100%;
  margin-top: 3rem;
  font-family: 'Lato', sans-serif;
}

.form-container__header--new {
  font-size: 2.5rem;
  margin: 1rem 0;
  text-align: center;
  color: #143601;
}

.signup-form {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.signup-form label {
  display: block;
  padding: 1rem 0;
  font-size: 1.3rem;
}

.signup-form input, .signup-form textarea {
  display: block;
  width: 100%;
  padding: 1rem 0;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#sendBtn {
  border: 0;
  border-radius: 5px;
  background-color: #538d22;
  color: #fff;
  padding: 1rem 1.5rem;
  margin: 3rem 0;
  width: auto;
  cursor: pointer;
  text-transform: uppercase;
}

#notes {
  height: 10rem;
  resize: vertical;
}

.form-container-editNote {
  width: 100%;
  margin-top: 3rem;
  font-family: 'Lato', sans-serif;
}

.form-container__header--edit {
  font-size: 2.5rem;
  margin: 1rem 0;
  text-align: center;
  color: #143601;
}

.signup-form {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.signup-form label {
  display: block;
  padding: 1rem 0;
  font-size: 1.3rem;
}

.signup-form input, .signup-form textarea {
  display: block;
  width: 100%;
  padding: 1rem 0;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#sendBtn {
  border: 0;
  border-radius: 5px;
  background-color: #538d22;
  color: #fff;
  padding: 1rem 1.5rem;
  margin: 3rem 0;
  width: auto;
  cursor: pointer;
  text-transform: uppercase;
}

#notes {
  height: 10rem;
  resize: vertical;
}

header {
  height: 8vh;
}

@media only screen and (min-width: 56.25em) {
  header {
    height: 10vh;
  }
}

main {
  height: 92vh;
}

@media only screen and (min-width: 56.25em) {
  main {
    height: 90vh;
  }
}

@media only screen and (min-width: 75em) {
  main {
    height: auto;
  }
}

.signUp-form-section {
  height: 92vh;
}

.edit-note-section {
  height: 92vh;
}

.new-note-section {
  height: 92vh;
}

.note-details-section {
  height: 92vh;
}

.notes-index {
  height: 92vh;
}
/*# sourceMappingURL=main.css.map */