body {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    line-height: 1.7;
}

.heading{
    font-family: 'Lato', sans-serif;
}


//Highlight Key Parts of Text
// .main-focus{
//     color: $color-primary;
// }
